MONGODB_URI=mongodb://127.0.0.1:27017/kachingscanner
PORT=4000
FRONTEND_URL=http://localhost:5173
TRADINGVIEW_WEBHOOK_SECRET=your_tradingview_webhook_secret_here
PUBLIC_BACKEND_URL=http://localhost:4000
SCANNER_AUTO_ENABLED=true
SCANNER_INTERVAL_MS=60000
